<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div id="todo">
        <add-new-task v-model="taskName" 
            v-on:addtask="addNewTask"
            
        >
            
        </add-new-task>
        <div class="task__list" id="task__list">
            <new-task 
                v-for="task in taskNameList" 
                v-bind:task="task"
                
                v-on:close-task="finishTask"
                
               
            >
            
        </new-task>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>
</html>